*{
    box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0%;
}

.card .head, .centre, .footer{
    width: 30vw;
    margin-left: 35%;
    min-width: 30vw;
}

.head, .footer{
    background-color: #17a2b8;
}

.head{
    height: 20vh;
    margin-top: 2%;
}

.centre{
    background-color: white;
    height: 40vh;
    border: 1px solid #138496;
}

.footer{
    height: 10vh;
}

.avatar{
    display: block;
    width: 150px;
    height: 150px;
    border: 5px solid red;
    border-radius: 50%;
    object-fit: cover;
    margin: -70px auto 20px;
}

.name{
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
}

.but{
    text-align: center;
    margin: auto auto;
}

.follow{
    background-color: #28a745;
    border-color: #28a745;
}

.send{
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.allbut{
    display: inline-block;
    color: white;
    padding: 5px 5px;
    margin: 20px auto;
}

.icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 5%;
}

.facebook{
    margin-left: 36%;

}

.facebook, .google{
    margin-right: 3%;
}